@import "./colors.scss";
body {
    background: var(--zinc-950);
    color: var(--zinc-50);
    font-family: 'Roboto', sans-serif;
}
a {
    color: var(--sky-400);
}

.material-symbols {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    user-select: none;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
#vm-list {

}
.vm-list-entry {

    text-decoration: none;
    color: var(--zinc-50);
}